# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [1]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

NameError: name 'pd' is not defined

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [75]:
#create a dict to applied rename(). Create a dict: original value as key and new value as value.
df.rename(columns={'Customer':'customer',
                   'ST':'customer_state',
                   'GENDER':'gender',
                   'Education':'education',
                   'Customer Lifetime Value':'customer_lifetime_value',
                   'Income':'income',
                   'Monthly Premium Auto':'monthly_auto_premium',
                   'Number of Open Complaints':'open_complaints',
                   'Policy Type':'policy_type',
                   'Vehicle Class':'vehicle_class',
                   'Total Claim Amount':'total_claim_amount' 
                  },
               inplace=True)

In [76]:
df.head()

,customer,customer_state,gender,education,customer_lifetime_value,income,monthly_auto_premium,open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   customer_state           1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   object
 5   income                   1071 non-null   float64
 6   monthly_auto_premium     1071 non-null   float64
 7   open_complaints          1071 non-null   object
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [78]:
pip install regex

Requirement already satisfied: regex in /opt/anaconda3/lib/python3.11/site-packages (2023.10.3)
Note: you may need to restart the kernel to use updated packages.

In [79]:
import re

`Column: gender`
- Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".

In [80]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [81]:
gender_dic = {'Femal': 'F',
              'Male': 'M',
              'female': 'F'}

In [82]:
df['gender'] = df['gender'].replace(gender_dic, regex=True)

In [83]:
df["gender"].unique()

array([nan, 'F', 'M'], dtype=object)

`Column: customer_state`
- State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"

In [84]:
df["customer_state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [85]:
dict_customer_state  = {r"\b[Ww]ash(ington)?\b": "Washington",
                       r"\b[Aa]riz(ona)?\b": "Arizona",
                       r"\b[Nn]eva(da)?\b": "Nevada",
                       r"\b[Cc]ali(fornia)?\b": "California",
                       r"\bAZ\b": "Arizona",
                       r"\bWA\b": "Washington"
                       }

In [86]:
df["customer_state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [87]:
df['customer_state'] = df['customer_state'].replace(dict_customer_state, regex=True)

In [88]:
df["customer_state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

`Column: education`
- In education, "Bachelors" could be replaced by "Bachelor"

In [89]:
df["education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [90]:
df['education'] = df['education'].str.replace('Bachelors', 'Bachelor')

In [91]:
df["education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

`Column: lifetime_value`
- In Customer Lifetime Value, delete the % character

In [92]:
df["customer_lifetime_value"].unique()

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

In [93]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace(r'\s*%\s*', '', regex=True)

In [94]:
df["customer_lifetime_value"].unique()

array([nan, '697953.59', '1288743.17', ..., '2031499.76', '323912.47',
       '899704.02'], dtype=object)

`Column: vehicle_class`
- In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [95]:
df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [96]:
dict_vehicle_class = {'Sports Car':'Luxury',
                     'Luxury SUV': 'Luxury',
                     'Luxury Car':'Luxury'}

In [97]:
df['vehicle_class'] = df['vehicle_class'].replace(dict_vehicle_class, regex=True)

In [98]:
df["vehicle_class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   customer_state           1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   object
 5   income                   1071 non-null   float64
 6   monthly_auto_premium     1071 non-null   float64
 7   open_complaints          1071 non-null   object
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

`Column: customer_lifetime_value`
- Customer lifetime value should be numeric

In [100]:
# Your code here
df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"])

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   customer_state           1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   float64
 5   income                   1071 non-null   float64
 6   monthly_auto_premium     1071 non-null   float64
 7   open_complaints          1071 non-null   object
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

`Column: open_complaints`
- Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.

In [102]:
df['open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [103]:
df['open_complaints'] = df['open_complaints'].str.split('/', expand=True)[1] #expand=True se agrega para manejar los nulls

In [104]:
df['open_complaints'].unique()

array(['0', '2', '1', '3', '5', '4', nan], dtype=object)

In [105]:
df['open_complaints'] = pd.to_numeric(df["open_complaints"], errors='coerce')

In [106]:
df['open_complaints'] = df['open_complaints'].astype('Int64')

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   customer_state           1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   float64
 5   income                   1071 non-null   float64
 6   monthly_auto_premium     1071 non-null   float64
 7   open_complaints          1071 non-null   Int64
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: Int64(1), float64(4), object(6)
memory usage: 348.5+ KB

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [108]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   customer_state           1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   float64
 5   income                   1071 non-null   float64
 6   monthly_auto_premium     1071 non-null   float64
 7   open_complaints          1071 non-null   Int64
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: Int64(1), float64(4), object(6)
memory usage: 348.5+ KB

In [109]:
#Identify any columns with null or missing values. 
#Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

In [110]:
columns_with_nulls = df.columns[df.isnull().any()] # Identificar columnas con valores nulos

# Iterar sobre las columnas con valores nulos y contar la cantidad de valores nulos en cada una
for column in columns_with_nulls:
    null_count = df[column].isnull().sum()
    print(f"Columna '{column}' tiene {null_count} valores nulos.")

Columna 'customer' tiene 2937 valores nulos.
Columna 'customer_state' tiene 2937 valores nulos.
Columna 'gender' tiene 3054 valores nulos.
Columna 'education' tiene 2937 valores nulos.
Columna 'customer_lifetime_value' tiene 2940 valores nulos.
Columna 'income' tiene 2937 valores nulos.
Columna 'monthly_auto_premium' tiene 2937 valores nulos.
Columna 'open_complaints' tiene 2937 valores nulos.
Columna 'policy_type' tiene 2937 valores nulos.
Columna 'vehicle_class' tiene 2937 valores nulos.
Columna 'total_claim_amount' tiene 2937 valores nulos.

In [111]:
#fill the null values with a specific value (such as the column mean or median for numerical variables, 
#and mode for categorical variables)

`Categorical variable:` for categorical variables I decide to apply the mode to fill nulls values, choosing the value that appears most frequently in that column and using it to replace the missing values:
- customer_state
- gender
- education
- policy_type
- vehicle_class

In [112]:
mode_customer_state = df['customer_state'].mode()
print(mode_customer_state)

0    California
Name: customer_state, dtype: object

In [113]:
df['customer_state'].fillna('California', inplace=True)

In [114]:
mode_gender = df['gender'].mode()
print(mode_gender)

0    F
Name: gender, dtype: object

In [115]:
df['gender'].fillna('F', inplace=True)

In [116]:
mode_education = df['education'].mode()
print(mode_education)

0    Bachelor
Name: education, dtype: object

In [117]:
df['education'].fillna('Bachelor', inplace=True)

In [118]:
mode_policy_type = df['policy_type'].mode()
print(mode_policy_type)

0    Personal Auto
Name: policy_type, dtype: object

In [119]:
df['policy_type'].fillna('Personal Auto', inplace=True)

In [120]:
mode_vehicle_class = df['vehicle_class'].mode()
mode_vehicle_class

0    Four-Door Car
Name: vehicle_class, dtype: object

In [121]:
df['vehicle_class'].fillna('Four-Door Car', inplace=True)

In [122]:
df.isnull()

,customer,customer_state,gender,education,customer_lifetime_value,income,monthly_auto_premium,open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,False,False,False,True,True,True,True,False,False,True
4004,True,False,False,False,True,True,True,True,False,False,True
4005,True,False,False,False,True,True,True,True,False,False,True
4006,True,False,False,False,True,True,True,True,False,False,True
4007,True,False,False,False,True,True,True,True,False,False,True

`Numerical variables:` for numerical variables I decide to apply the median because is less sensitive to extreme values:
- customer
- customer_lifetime_value
- income
- monthly_auto_premium
- open_complaints
- total_claim_amount

In [123]:
df['customer'].fillna('none', inplace=True)

In [124]:
media_customer_lifetime = df['customer_lifetime_value'].median()
media_customer_lifetime

588174.235

In [125]:
df['customer_lifetime_value'].fillna(588174.235, inplace=True)

In [126]:
median_income = df['income'].median()
median_income

36234.0

In [127]:
df['income'].fillna(36234.0, inplace=True)

In [128]:
median_auto = df['monthly_auto_premium'].median()
median_auto

83.0

In [ ]:
df['monthly_auto_premium'].fillna(0.0, inplace=True)

In [129]:
complaint_median = df['open_complaints'].median()
complaint_median

0.0

In [130]:
df['open_complaints'].fillna(0, inplace=True)

In [2]:
median_claim = dfdf['total_claim_amount'].median()
median_claim

NameError: name 'dfdf' is not defined

In [ ]:
df['monthly_auto_premium'].fillna(83.0, inplace=True)

In [131]:
df.isnull()

,customer,customer_state,gender,education,customer_lifetime_value,income,monthly_auto_premium,open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,False,False,False,False,False,False,True,False,False,False,True
4004,False,False,False,False,False,False,True,False,False,False,True
4005,False,False,False,False,False,False,True,False,False,False,True
4006,False,False,False,False,False,False,True,False,False,False,True
4007,False,False,False,False,False,False,True,False,False,False,True

In [132]:
#After formatting data types, as a last step, convert all the numeric variables to integers.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 4008 non-null   object
 1   customer_state           4008 non-null   object
 2   gender                   4008 non-null   object
 3   education                4008 non-null   object
 4   customer_lifetime_value  4008 non-null   float64
 5   income                   4008 non-null   float64
 6   monthly_auto_premium     1071 non-null   float64
 7   open_complaints          4008 non-null   Int64
 8   policy_type              4008 non-null   object
 9   vehicle_class            4008 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: Int64(1), float64(4), object(6)
memory usage: 348.5+ KB

In [133]:
#Is already all the values in their data type

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [134]:
# Your code here
df.duplicated() #returns False: each row is not a duplicate of any row above and True: each row is a duplicate of any row above

0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Length: 4008, dtype: bool

In [135]:
df = df.drop_duplicates(keep='first')

In [136]:
duplicados_despuÃ©s = df.duplicated().any()

In [137]:
df.head()

,customer,customer_state,gender,education,customer_lifetime_value,income,monthly_auto_premium,open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,588174.235,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.590,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.170,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.180,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.650,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [138]:
df.duplicated().any()

False

In [141]:
# Exportar el DataFrame limpio a un archivo CSV
df.to_csv('lab_cleaning.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here